header{
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.logo{
    margin-top: 30px;
   
}

header nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

nav a{
    text-decoration: none;
    color: #000;
    padding: 1em;
    font-size: 1.2em;
}

.inscrever-se{
    font-size: 25px;
    background-color:#ED4D1B ;
    border: 2px solid;
    width: 250px;
    height: 60px;
    box-shadow: 5px 5px;
    text-transform: uppercase;
    

}

.banda{
    width: 400px;
    height: 400px;
}

article h1 {
    margin-left: 0.6em;
    font-size: 3em;
}

article span{
    color: #ED4D1B;
}

article p{
    margin-top: 1em;
    margin-left: 1em;
    font-size: 1.5em;
}

article #botao-comece{
    margin-top: 2em;
    margin-left: 1em;
    font-size: 25px;
    background-color:#ED4D1B ;
    border: 2px solid;
    width: 250px;
    height: 60px;
    box-shadow: 5px 5px;
    text-transform: uppercase;
}

article .seta-curva{
    margin-top: 2em;
    margin-left:10em;
}

.cards{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;

}

.card-1,
.card-2{
    border: 2px solid;
    box-shadow: 5px 5px;
    padding: 2em;
    height: 350px;
    width: 350px;
}

.card-1{
    background-color: #ED4D1B;
}

.card-2{
    background-color: #FF9A3C;
}

.seta-direita{
    margin-top: 1em;
   float: right;
}

.card-1 h3,
.card-2 h3{
    font-size: 2em;
    margin-top: 1em;
}

.card-1 p,
.card-2 p{
    font-size: 20px;
    margin-top: 1em;
}

article h1{
    margin-top: 1em;
}

#conhecer-cursos{
    margin-top: 1em;
    margin-left: 3em;
    font-size: 25px;
    background-color:#ED4D1B ;
    border: 2px solid;
    width: 250px;
    height: 60px;
    box-shadow: 5px 5px;
    text-transform: uppercase;
}


footer{
    padding: 2em;
}

footer .logo{
    margin-left: 5px;
}

footer p{
    margin-top: 10px;
    margin-left: 5px;
    font-size: 20px;
}

#nav-footer{
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 0;
}

article h2{
    font-size: 2em;
}

#caixa-texto{
    margin-top: 1em;
    font-size: 25px;
    border: 2px solid;
    width: 300px;
    height: 50px;
    box-shadow: 5px 5px;
    text-transform: uppercase;
}

#quero-receber{ 
    margin-top: 1em;
    font-size: 25px;
    background-color:#ED4D1B ;
    border: 2px solid; 
    width: 250px;
    height: 60px;
    box-shadow: 5px 5px;
    text-transform: uppercase;}


    @media screen and (min-width:600px){
        header{
            
        }
    }
        
    